/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(244,239,244);
}

.landing-page {
  text-align: center;
  margin-top: 50px;
}

.analytics-page, .users-page, .premium-page {
  margin-top: 20px;
}

.users-page .table-responsive {
  margin-top: 20px;
}

.users-page .user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-list {
  list-style: none;
  padding: 0;
}

.image-list li {
  display: inline-block;
  margin: 5px;
}

/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

.analytics-page, .users-page, .premium-page {
  margin-top: 20px;
}

.users-page .table-responsive {
  margin-top: 20px;
}

.users-page .user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-list {
  list-style: none;
  padding: 0;
}

.image-list li {
  display: inline-block;
  margin: 5px;
}
